* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 25px;
  text-align: center;  
}

.card {
  margin: 20px;
  display: inline-block;
  width: 250px;
  height: 250px;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.75);
  background: #ffffff;

  &__img {
    width: 96%;
    position: absolute;
    top: 2%;
    left: 2%;
    right: 2%;
  }

  &__title {
    font-family: "Reenie Beanie", cursive;
    position: absolute;
    bottom: 0;
    text-align: center;
    background: white;
    right: 0;
    left: 0;
    top: 83%;
    padding: 7px 0;
    color: #5a44ff;
  }
}